<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언-->
	<properties>
		
		<!-- 회원 -->
		<property name="pro01_member" value="pro01_member"/>
		<property name="memberNo" value="member_no"/>
		<property name="memberId" value="member_id"/>
		<property name="memberPw" value="member_pw"/>
		<property name="memberName" value="member_name"/>
		<property name="memberBirth" value="member_birth"/>
		<property name="memberPhone" value="member_phone"/>
		<property name="memberMail" value="member_mail"/>
		<property name="memberMailAgree" value="member_mail_agree"/>
		<property name="memberAdd01" value="member_add01"/>
		<property name="memberAdd02" value="member_add02"/>
		<property name="memberAdd03" value="member_add03"/>
		<property name="regDate" value="reg_date"/>
		<property name="propductComment" value="product_comment"/>
		<property name="productFaq" value="product_faq"/>
		<property name="adminCk" value="admin_ck"/>
		
		<!-- 상품 -->
		<property name="pro01_product" value="pro01_product"/>
		<property name="productNo" value="product_no"/>
		<property name="productName" value="product_name"/>
		<property name="productCategory" value="product_category"/>
		<property name="productPrice" value="product_price"/>
		<property name="productAmount" value="product_amount"/>
		<property name="productIntro" value="product_intro"/>
		<property name="productRegDate" value="product_reg_date"/>
		
		<!-- 질문 게시판 -->
		<property name="pro01_help" value="pro01_help"/>
		<property name="helpNo" value="help_no"/>
		<property name="helpTitle" value="help_title"/>
		<property name="helpName" value="help_name"/>
		<property name="helpContent" value="help_content"/>
		<property name="helpRegDate" value="help_reg_date"/>
		
		
	</properties>
	
	
	
	<!-- Underscore 명명법을 Camel 명명법으로 매핑 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 
	typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정
	 -->
	 
	 <typeAliases>
	 	<package name="edu.spring.p01.domain"/>
	 </typeAliases>
	
</configuration>